<!doctype html>
<html lang="en">
<body>
    <link rel= "stylesheet" type= "text/css" href= "/static/styles/style.css">
    <table border="0" cellpadding="1" cellspacing="1" style="width: 1300px">
        <tbody>
            <tr>
                <td style="width: 300px">
                    <h2>
                      <a class="btn btn-success" href="/about" style="padding-left: 10px; \
                            padding-right: 10px">Каталогизатор 0.9</a>

                    </h2>
                </td>
                <td>{% block header01 %}{% endblock %}</td>
                <td>{% block header02 %}
                    {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class=flash>
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
                {% endblock %}</td>
                <td>{% block header03 %}{% endblock %}</td>
                <td>{% block header04 %}{% endblock %}</td>
                <td>{% block header05 %}{% endblock %}</td>
                <td>{% block header06 %}{% endblock %}</td>
                <td>{% block header07 %}{% endblock %}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <table border="0" cellpadding="1" cellspacing="1" style="width: 1500px">
        <tbody>
            <tr>
                <td style="vertical-align: top; width: 450px">{% block left_column %}{% endblock %}</td>
                <td border="1" style="vertical-align: top">
                    <div style="height:700px; overflow-y: scroll;">
                        {% block content %}{% endblock %}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <table align="left" border="0" cellpadding="1" cellspacing="1" style="width: 500px">
        <tbody>
            <tr>
                <td style="width: 400px">{% block footer01 %}
                                        <h3>
                    {% if current_user.is_authenticated %}
                          <a>{{ current_user.fullname }}</a>
                          <a class="navbar-brand" href="/logout">(выход)</a>
                    </h3>
                    {% endif %}
                    {% endblock %}</td>
                <td>{% block footer02 %}{% endblock %}</td>
                <td>{% block footer03 %}{% endblock %}</td>
                <td style="width: 200px">{% block footer04 %}
                    {% endblock %}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>