{% extends "base.html" %}

{% block left_column %}
    <a align="left"><h3>Редактор кейса</h3></a>
    <form action="" method="post">
    {{ form.hidden_tag() }}
        <table border="0" cellpadding="4" cellspacing="2"  style="padding-left: 10px; padding-right: 10px">
            <tbody>
                <tr>
                    <td align="left">ID:</td>
                    <td align="right" style="width: 500px">{{ form.box_id|int }}</td>
                </tr>
                <tr>
                    <td align="left">{{ form.name.label }}</td>
                    <td align="right" style="width: 500px">{{ form.name }}</td>
                </tr>
                <tr>
                    <td align="left">{{ form.param.label }}</td>
                    <td align="right">{{ form.param }}</td>
                </tr>
                <tr> <hr>
                    <a>{{ form.add_btn(type="submit", class="btn btn-primary") }} </a>
                    {% if form.box_id > 0 %}
                        <a>{{ form.edit_btn(type="submit", class="btn btn-primary") }} </a>
                        <a>{{ form.del_btn(type="submit", class="btn btn-primary") }}</a>
                    {% endif %}
                </tr>
           </tbody>
        </table>
        <hr>
                    <a><input type="button" value="Назад" onclick="location.href = '/viewtable'" /> </a>
    </form>
{% endblock %}

{% block content %}
    <div class="col-md6 border rounded">
        <table border="1" cellpadding="2" cellspacing="1"  style="padding-left: 10px; padding-right: 10px">
            <tbody>
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Наименование кейса</th>
                        <th scope="col">Описание</th>
                    </tr>
                </thead>
                {% for item in items %}
                <tr>
                    <td align="center">
                        <a class="navbar-brand" href="/edit/box/{{item.id}}">{{item.id}}</a>
                    </td>
                    <td>{{item.name}}</td>
                    <td>{{item.param}}</td>
                </tr>
                {% endfor %}
           </tbody>
        </table>
        <table border="0" cellpadding="2" cellspacing="1">
            <tbody>
           </tbody>
        </table>
    </div>
{% endblock %}

