<!doctype html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

<table border="1" cellspacing="0" cellpadding="0" width="100%" class="top_field">
    <tbody>
    <tr>
        <td>
            <table border="0" cellspacing="0" cellpadding="4" width="100%">
                <tbody>
                <tr>
                    <td width="120px"><img src="{{ url_for('static', filename='images/favicon.ico') }}" width="100"
                                           height="100"/>
                    </td>
                        {% if not current_user.is_authenticated %}
                    <td width="25%">
                        <div class="it_cube">
                            <p>IT-куб. Белая Холуница</p>
                            <p>Учебный год {{g.YEAR}}/{{g.YEAR + 1}}</p>

                        </div>
                    </td>
                        {% endif %}

                    </td>
                    <td class="main_head">
                        {% block header00 %}{% endblock %}
                    </td>
                    <td>{% if current_user.is_authenticated %}
                        <table border="1" cellspacing="2" cellpadding="8">
                            <tbody>
                            <tr align="center" class="main_menu">
                                <td width="25%"><a href="/journ">Журналы</a></td>
                                <td width="25%"><a href="/main">Расписание</a></td>
                                <td width="25%"><a href="/groups">Уч.группы</a></td>
                                <td width="25%"><a href="/stat">Статистика</a></td>
                            </tr>
                            </tbody>
                        </table>
                        {% endif %}
                    </td>
                    <td>{% block header02 %}{% endblock %}</td>
                    <td align="center">{% for cat, msg in get_flashed_messages(True) %}
                        <div class="flash {{cat}}">{{msg}}</div>
                        {% endfor %}
                    </td>
                    <td>{% block header03 %}{% endblock %}</td>
                    <td>{% block header05 %}{% endblock %}</td>
                    <td>{% block header06 %}{% endblock %}</td>
                    <td class="area" width="200px">
                        {% if current_user.is_authenticated %} <a>Пользователь в системе: </a>
                        <a href="/logout"><h4>{{ current_user.name }}</h4></a>
                        {% else %}
                        <p><a class="btn btn-primary " href="/register">Зарегистрироваться</a></p>
                        <p><a class="btn btn-success" href="/login">Войти</a></p>
                        {% endif %}
                    </td>
                    <td>{% block header07 %}{% endblock %}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

<table style="width: 100%;" border="0" cellspacing="0" cellpadding="10">
    <tbody>
    <tr>
        <td style="vertical-align: top; width: 25%;">
            <table border="1" cellspacing="1" cellpadding="5" width="100%">
                <tr>
                    <td>
                        {% block left_column %}
                        {% endblock %}
                    </td>
                </tr>
            </table>
        </td>
        <td style="vertical-align: top;">
            <div style=" height: 770px; overflow-y: scroll;">
                {% block content %}{% endblock %}
            </div>
        </td>
    </tr>
    </tbody>
</table>
<hr/>
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="5" align="left">
    <tbody>
    <tr>
        <td style="width: 400px;">{% block footer01 %} {% endblock %}
        </td>
        <td>{% block footer02 %}{% endblock %}</td>
        <td>{% block footer03 %}{% endblock %}</td>
        <td style="width: 200px;">{% block footer04 %} {% endblock %}</td>
    </tr>
    </tbody>
</table>
</html>