<!doctype html>
<html lang="en">
<link rel="stylesheet" href="./static/styles/style.css" type="text/css"/>
<table border="0" cellspacing="0" cellpadding="5">
    <tbody>
    <tr>
        <td class="main_head">
            {% block header00 %}{% endblock %}
        </td>
        <td>{% block header01 %}
        <td>
            <h3>
                <table border="1" cellspacing="6" cellpadding="12" style="font: 12pt; vertical-align: top;">
                    <tbody>
                    <tr>
                        <td><a style="padding-left: 10px; padding-right: 10px;" href="/journ">Журналы посещений</a></td>
                        <td><a style="padding-left: 10px; padding-right: 10px;" href="/main">Расписание занятий</a></td>
                        <td><a style="padding-left: 10px; padding-right: 10px;" href="/stat">Статистика</a></td>
                    </tr>
                    </tbody>
                </table>
            </h3>
        </td>
        {% endblock %}</td>
        <td>{% block header02 %}{% endblock %}</td>
        <td>{% block header03 %}
            {% if current_user.is_authenticated and current_user.year %}
            Учебный год: {{current_user.year}}/{{current_user.year + 1}}
            {% endif%}
            {% endblock %}
        </td>
        <td>
            <h3>{% block header04 %}{% if current_user.is_authenticated %} <a>Пользователь в
                системе: </a><a class="navbar-brand" href="/logout">{{ current_user.name }}</a> {% else %}
                <p><a class="btn btn-primary " href="/register">Зарегистрироваться</a></p>
                <p><a class="btn btn-success" href="/login">Войти</a></p>
                {% endif %}{% endblock %}
            </h3>
        </td>
        <td>{% block header05 %}{% endblock %}</td>
        <td>{% block header06 %}{% endblock %}</td>
        <td>{% block header07 %}{% endblock %}</td>
    </tr>
    </tbody>
</table>
<hr/>
<table style="width: 1900px;" border="0" cellspacing="0" cellpadding="10">
    <tbody>
    <tr>
        <td style="vertical-align: top; width: 500px;">
            {% block left_column %}{% endblock %}
        </td>
        <td style="vertical-align: top;">
            <div style=" height: 730px; overflow-y: scroll;">
                {% block content %}{% endblock %}
            </div>
        </td>
    </tr>
    </tbody>
</table>
<hr/>
<table style="width: 500px;" border="0" cellspacing="0" cellpadding="5" align="left">
    <tbody>
    <tr>
        <td style="width: 400px;">{% block footer01 %} {% endblock %}
        </td>
        <td>{% block footer02 %}{% endblock %}</td>
        <td>{% block footer03 %}{% endblock %}</td>
        <td style="width: 200px;">{% block footer04 %} {% endblock %}</td>
    </tr>
    </tbody>
</table>
</html>