{% extends "base.html" %}

{% block header00 %}Журнал посещений{% endblock %}

{% block left_column %}
<form action="" method="post">
    {{ form.csrf_token() }}
    {{ form.hidden_tag() }}
    <table border="0" cellpadding="4" cellspacing="2" width="100%">
    <td width="100%" align="right">{{form.submit(class="butts")}}</td>
    </table>
    <hr>
    <table border="0" cellpadding="4" cellspacing="2" width="80%">
        <tbody>{% for field in form if 'ff_' in field.name %}
        <tr>
                <td align="left">{{ field.label(class="area") }}</td>
                <td align="right">{{ field(class="list_fields") }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <p></p>
    <h2>Расписание занятий</h2>
    <div style=" height: 500px; overflow-y: scroll;">
    <table class="list_fields" border="1" cellpadding="6" cellspacing="2">
        <tbody>
        {% for rsp in spis %}
        <tr>
            <td width="60px" align="center"><a style="color: blue;" href="/rasp/add/{{rsp.id}}">[+]</a>
                <a style="color: green;" href="/rasp/edit/{{rsp.id}}">[V]</a>
                <a style="color: red;" href="/rasp/delete/{{rsp.id}}">[X]</a></td>
                <td align="left">{{ rsp.days.name }}</td>
                <td align="center" style="background-color: rgb{{rsp.kabs.color}}">{{ rsp.kabs.name }}</td>
                <td align="center">{{ rsp.tstart }}</td>
                <td align="center">{{ rsp.tend }}</td>
                <td align="center" width="">{{rsp.groups.name}}  {{rsp.groups.comment}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

</form>
{% endblock %}

{% block content %}
<div class="col-md6 border rounded">
    <table class="list_fields" border="1" cellspacing="1" cellpadding="4">
        <tbody>
        <tr style="background-color: rgb(52, 73, 94); color: #ffffff;">
            <th scope="col">Режим</th>
            <th scope="col">Дата</th>
            <th scope="col">Начало</th>
            <th scope="col">Окончание</th>
            <th scope="col">Колич.</th>
            <th scope="col">Группа</th>
            <th scope="col" width="40%">Тема занятия</th>
            <th scope="col">Доп.комментарий</th>
        </tr>
        {% for item in journ%}
        <tr>
            <td width="80px" align="center"><a style="color: blue;" href="/journ/add/{{item.id}}">[+]</a>
                <a style="color: green;" href="/journ/edit/{{item.id}}">[V]</a>
                <a style="color: red;" href="/journ/delete/{{item.id}}">[X]</a></td>
            <td width="80px" align="center">{{item['date']}}</td>
            <td align="center">{{item.tstart}}</td>
            <td align="center">{{item.tend}}</td>
            <td align="center">{{item.counter}}</td>
            <td align="center">{{item.gruppa}}</td>
            <td align="left" width="40%">{{item.name}}</td>
            <td align="left">{{item.comment}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}