{% extends "base.html" %}

{% block header00 %}Журнал посещений{% endblock %}

{% block left_column %}
<form action="" method="post">
    {{ form.csrf_token() }}
    {{ form.hidden_tag() }}
    <table border="0" cellpadding="4" cellspacing="2" width="100%">
        <td>
            {% if form.fill_flag %}
            {{form.fill_add(class="butts")}} {{form.fill_del(class="butts")}}
            {% else %}
            <a style="color: red;">Установите фильтр</a>
            {% endif %}
        </td>
        <td align="right">{{form.submit(class="flt_butts")}}</td>
    </table>
    <hr>
    <table border="1" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
            <td>
                <table class="top_field" border="0" cellpadding="10" cellspacing="4" width="100%">
                    <tbody>{% for field in form if 'ff_' in field.name %}
                    <tr>
                        <td align="left">{{ field.label(class="area") }}</td>
                        <td align="right">{{ field(class="list_fields") }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
    <p></p>
    <table class="list_fields" border="0" cellpadding="0" cellspacing="6" width="100%">
        <tbody>
        <tr>
            <th align="center" class="it_cube" width="100%">Расписание занятий</th>
        </tr>
        <tr>
            <td align="left">Найдено записей:{{ cnt }}</td>
        </tr>
        </tbody>
    </table>
    <div style=" height: 540px; overflow-y: scroll;">
        <table class="table_body" border="1" cellpadding="6" cellspacing="2">
            <tbody>
            {% for rsp in spis %}
            <tr>
                <td width="60px" align="center">
                    <a href="/rasp/add/{{rsp.id}}"><img src="{{ url_for('static', filename='images/add.png') }}" title="Новая запись" class="icon"></a>
                    <a href="/rasp/delete/{{rsp.id}}"><img src="{{ url_for('static', filename='images/del.png') }}" title="Удалить запись" class="icon"></a>
                </td>
                <td align="left">{{ rsp.days.name }}</td>
                <td align="center" style="background-color: rgb{{rsp.kabs.color}}">{{ rsp.kabs.name }}</td>
                <td align="center">{{ rsp.tstart }}</td>
                <td align="center">{{ rsp.tend }}</td>
                <td align="center" width="">{{rsp.groups.name}} {{rsp.groups.comment}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</form>
{% endblock %}

{% block content %}
<div class="col-md6 border rounded">
    <table class="main_table" border="1" cellspacing="1" cellpadding="4">
        <tbody>
        <tr class="table_head">
            <th scope="col">Режим</th>
            <th scope="col">Дата</th>
            <th scope="col">Начало</th>
            <th scope="col">Окончание</th>
            <th scope="col">Колич.</th>
            <th scope="col">Группа</th>
            <th scope="col" width="40%">Тема занятия</th>
            <th scope="col">Доп.комментарий</th>
        </tr>
        {% for item in journ%}
        <tr class="table_body">
            <td width="80px" align="center">
                <a href="/journ/add/{{item.id}}"><img src="{{ url_for('static', filename='images/add.png') }}" title="Добавить лист" class="icon"></a>
                <a href="/journ/edit/{{item.id}}"><img src="{{ url_for('static', filename='images/edit.png') }}" title="Редактор листа" class="icon"></a>
                <a href="/journ/delete/{{item.id}}"><img src="{{ url_for('static', filename='images/del.png') }}" title="Удалить лист" class="icon"></a>
            </td>
            <td width="80px" align="center">{{item['date']}}</td>
            <td align="center">{{item.tstart}}</td>
            <td align="center">{{item.tend}}</td>
            <td align="center">{{item.counter}}</td>
            <td align="center">{{item.gruppa}}</td>
            <td align="left" width="40%">{{item.name}}</td>
            <td align="left">{{item.comment}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}