{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block header00 %}<h2>Журнал посещений</h2>{% endblock %}
{% block left_column %}
<form action="" method="post" style="font: 12pt">
    {{ form.csrf_token() }}
    {{ form.hidden_tag() }}
    <table border="0" cellpadding="4" cellspacing="2" style="padding-left: 10px; padding-right: 10px">
        <tbody>{% for field in form if (field.name != "csrf_token") and ('fh_' in field.name) %}
        <tr>
                <td align="left" width="20%">{{ field.label }}</td>
                <td align="right">{{ field }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}

{% block content %}
<div class="col-md6 border rounded">
    <table style="padding-left: 10px; padding-right: 10px;" border="1" cellspacing="1" cellpadding="4">
        <tbody>
        <tr style="background-color: rgb(52, 73, 94); color: #ffffff;">
            <th scope="col">ID</th>
            <th scope="col">Фамилия И.О.</th>
            <th scope="col">Посещ.</th>
            <th scope="col">Рейтинг</th>
            <th scope="col">Комментарии</th>
        </tr>
        {% for field in form.fs_spisok.items if (field.name != "csrf_token") %}
        <tr>
                <td align="left">{{ field.data['item_id'] }}</td>
                <td align="left">{{ field.data['fio'] }}</td>
                <td align="center">{{ wtf.form_field(field.present) }}</td>
                <td align="center">{{ wtf.form_field(field.b) }}</td>
                <td align="center">{{ wtf.form_field(field.c) }}</td>


        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    </form>
{% endblock %}
