{% extends "base.html" %}

{% block header00 %}<a href="/about">Кубышка v.1.1</a>{% endblock %}

{% block left_column %}
    <h2>Авторизация</h2>
<hr>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.login.label(class="area") }}<br>
            {{ form.login(class="list_fields", type="login") }}<br>
            {% for error in form.login.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label(class="area") }}<br>
            {{ form.password(class="list_fields", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <hr>
        <p>{{ form.submit(type="submit", class="butts") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}