        <td><h3>
            <table border="1" cellspacing="6" cellpadding="6" style="font: 12pt; vertical-align: top;">
                <tbody>
                <tr>
                    <td><a style="padding-left: 10px; padding-right: 10px;" href="/journ">Журналы посещений</a></td>
                    <td><a style="padding-left: 10px; padding-right: 10px;" href="/main">Расписание занятий</a></td>
                    <td><a style="padding-left: 10px; padding-right: 10px;" href="/stat">Статистика</a></td>
                </tr>
                </tbody>
            </table></h3>
        </td>
