{% extends "base.html" %}

{% block header00 %}Расписание занятий{% endblock %}


{% block left_column %}
<form action="" method="post">
    {{ form_rasp.csrf_token() }}
    {{ form_rasp.hidden_tag() }}
    <table border="0" cellpadding="0" cellspacing="10" width="100%">
        <tr>
            <td align="right" width="100%">Найдено записей: {{ cnt }}</td>
        </tr>
        <tr>
            <td width="100%" align="right">{{form_rasp.submit(class="flt_butts")}}</td>
        </tr>
    </table>
    <hr>
    <table border="1" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
            <td>
                <table class="top_field" border="0" cellpadding="5" cellspacing="4" width="100%">
                    <tbody>{% for field in form_rasp if 'fr_' in field.name %}
                    <tr>
                        <td align="left">{{ field.label(class="area") }}</td>
                        <td align="right">
                            {% if loop.index == 1 %}
                           {{ field(class="list_wide") }}
                            {% else %}
                            {{ field(class="list_fields") }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
</form>
{% endblock %}

{% block content %}
<div class="col-md6 border rounded">
    {% if items %}
    <table class="main_table" border="1" cellspacing="1" cellpadding="4">
        <tbody>
        <tr class="table_head">
            <th scope="col">День недели</th>
            <th scope="col">Начало</th>
            <th scope="col">Окончание</th>
            <th scope="col">Кабинет</th>
            <th scope="col">Учебная группа</th>
            <th scope="col">Наставник</th>
            <th scope="col">Наименование учебного курса</th>
        </tr>
        {% for item in items%}
        <tr class="table_body" {% if item.idDays % 2> 0 %} style="background-color: rgb(254, 255, 236);"
            {% else %} style="background-color: #fff;" {% endif %}>
            <td align="center">{{item.days.name}}</td>
            <td align="center">{{item.tstart}}</td>
            <td align="center">{{item.tend}}</td>
            <td align="center" style="background-color: rgb{{item.kabs.color}};">{{item.kabs.name}}</td>
            <td align="center"><a class="navbar-brand" href="{{item.groups.courses.url}}">
                {{item.groups.name}} {{item.groups.comment}}</a></td>
            <td align="center"><a class="navbar-brand" href="{{item.groups.users.comment}}">
                {{item.groups.users.name}}</a></td>
            <td><a class="navbar-brand" href="{{item.groups.courses.url}}">
                {{item.groups.courses.name}}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if uslist %}
    <p class="main_head" align="center">Посещаемость</p>
    <table border="1" cellpadding=4" cellspacing="2">
        <tbody>
        <tr class="table_head">
            <th scope="col">№пп</th>
            <th scope="col">{{ uslist.spis[0].ima_f }}</th>
            <th scope="col">{{ uslist.spis[0].klass }}</th>
            <th scope="col">Рейтинг</th>
            {% for el in uslist.spis[0].present[-10:] %}
            <th scope="col">{{ el }}</th>
            {% endfor %}
        </tr>
        {% for user in uslist.spis[1:] %}
        {% if user.navigator %}
        <tr class="table_body">
            {% else %}
        <tr class="table_body" style="color: red;" title="Не оформлен ПФДО!">
            {% endif %}
            <td align=" center">{{ loop.index }}</td>
            <td align=" center">{{ user.ima_f }}</td>
            <td align=" center">{{ user.klass }}</td>
            <td>{% for _ in range(user.stars_cnt) %}
                <img src="{{ url_for('static', filename='images/star.png') }}" class="icon_star" title="Лидер посещаемости!">
                {% endfor %}
            {% for _ in range(user.blacks_cnt) %}
                <img src="{{ url_for('static', filename='images/black.png') }}" class="icon_star"  title="Месяц прогулял!">
                {% endfor %}
            </td>
            {% for el in user.present[-10:] %}
                {% if el[0] %}
            <td align="center" class="{{el[1]}}"><img src="{{ url_for('static', filename='images/visit.png') }}" class="icon_smile"></td>
                {% else %}
            <td align="center" class="{{el[1]}}"><img src="{{ url_for('static', filename='images/novisit.png') }}" title="Пропуск занятия" class="icon_smile"></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}

        </tbody>
    </table>

    {% if current_user.is_authenticated %}
    <p class="main_head" align="center">Статистика</p>
    <table class="main_table" border="1" cellspacing="1" cellpadding="4">
        <tbody>
        {% for i in range(6) %}
        <tr class="table_body">
            <th align="left">{{head[i]}}</th>
            {% for item in uslist.stars.values() %}
            <td>
                {{item[i]}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endif %}

</div>
{% endblock %}