{% extends "base.html" %}

{% block header00 %}<a href="/about">Кубышка v.1.1</a>{% endblock %}

{% block left_column %}
<h2>Регистрация</h2>
<hr>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label(class="area") }}<br>
        {{ form.name(class="list_fields") }}<br>
        {% for error in form.name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.login.label(class="area") }}<br>
        {{ form.login(class="list_fields", type="login") }}<br>
        {% for error in form.login.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label(class="area") }}<br>
        {{ form.password(class="list_fields", type="password") }}<br>
        {% for error in form.password.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.password_again.label(class="area") }}<br>
        {{ form.password_again(class="list_fields", type="password") }}<br>
        {% for error in form.password_again.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <hr>
    <p>{{ form.submit(type="submit", class="butts") }}</p>
    {{message}}
</form>
{% endblock %}