{% extends "base.html" %}

{% block header00 %}Текущая статистика{% endblock %}

{% block left_column %}
<form action="" method="post">
    {{ form.csrf_token() }}
    {{ form.hidden_tag() }}
    <table border="0" cellpadding="0" cellspacing="10" width="100%">
        <tr>
            <td width="100%" align="right">{{form.submit(class="flt_butts")}}</td>
        </tr>
    </table>
    <hr>
    <table border="1" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
            <td>
                <table class="top_field" border="0" cellpadding="5" cellspacing="4" width="100%">
                    <tbody>{% for field in form if 'fr_' in field.name %}
                    <tr>
                        <td align="left">{{ field.label(class="area") }}</td>
                        <td align="right">
                            {% if loop.index > 2 %}
                           {{ field(class="list_wide") }}
                            {% else %}
                            {{ field(class="list_wide", size=10) }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
</form>
{% endblock %}

{% block content %}
<div class="col-md6 border rounded">
    {% if stat_groups %}
    {% for grp in stat_groups.values() %}
    <table class="main_table" border="1" cellspacing="1" cellpadding="4">
        <tbody>
        <tr class="table_head">
            <th scope="col">{{grp.course_name}}</th>
            <th scope="col">{{grp.group_name}}</th>
            <th scope="col">{{grp.prepod_name}}</th>
        </tr>
        </tbody>
    </table>
    <table class="main_table" border="1" cellspacing="1" cellpadding="4">
        <tbody>
        {% for i in range(6) %}
        <tr class="table_body">
            <th align="left">{{head[i]}}</th>
            {% for item in grp.stars.values() %}
            <td>
                {{item[i]}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}